<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/search.css" />
    <title>Document</title>
  </head>
  <body>
    <style>
      .hiddenID {
        display: none;
      }
      .hideChange {
        display: none;
      }
    </style>
    <div class="searchForm">
      <h1>Search profile</h1>
      <form action="/search" method="post">
        <input
          class="inputSearcg"
          name="searchID"
          type="text"
          placeholder="Write something..."
        />
        <button>Find</button>
        <a href="/">Back</a>
      </form>
      <% for(let i=0; i < profile.length; i++) { %>
      <div>
        <form method="POST" action="/search?_method=PUT">
          <p>ID: <%=profile[i].id%></p>
          <p  class=fixedHunterName "><%=profile[i].hunterName%></p>
          <p  class="fixedHunterEmail "><%=profile[i].email%></p>
          <input
            class="hiddenID"
            type="text"
            name="id"
            value="<%=profile[i].id%>"
          />
          <input
            type="text"
            id="changeHunterName"
            class="changeHunterName hideChange"
            name="changeHunterName"
            value="<%=profile[i].hunterName%>"
          /><br />
          <input
            type="text"
            id="changeHunterEmail"
            class="changeHunterEmail hideChange"
            name="changeHunterEmail"
            value="<%=profile[i].email%>"
          />
          <button id="saveButton" class="saveButton hideChange">Save</button>
        </form>
        <form method="POST" action="/search?_method=DELETE">
          <input
            class="hiddenID"
            type="text"
            name="id"
            value="<%=profile[i].id%>"
          />
          <button>X</button>
        </form>
        <button class="changeButton">Change</button>
      </div>
      <% } %>
    </div>
    <script>
      let changeButton = document.getElementsByClassName("changeButton");
      let saveButton = document.getElementsByClassName("saveButton");
      for (let i = 0; i < changeButton.length; i++) {
        changeButton[i].addEventListener("click", function () {
          let hideEmail = document.getElementsByClassName("changeHunterEmail")[i];
          let fixedName = document.getElementsByClassName("fixedHunterName")[i];
          let fixedEmail = document.getElementsByClassName("fixedHunterEmail")[i];
          let hideName = document.getElementsByClassName("changeHunterName")[i];
          let saveBtn = document.getElementsByClassName("saveButton")[i];
          hideName.classList.toggle("hideChange");
          hideEmail.classList.toggle("hideChange");
          saveBtn.classList.toggle("hideChange");
          fixedName.classList.toggle("hideChange");
          fixedEmail.classList.toggle("hideChange");
          if (changeButton[i].innerHTML === "Change")
            changeButton[i].innerHTML = "Cancel";
          else if (changeButton[i].innerHTML === "Cancel")
            changeButton[i].innerHTML = "Change";
        });
        saveButton[i].addEventListener("click", function () {
        alert("Saved!!!");
      });
      }

      

    </script>
  </body>
</html>
