<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/search.css" />
    <title>Document</title>
  </head>
  <body>
    <style>
      .hiddenID {
        display: none;
      }
      .hideChange {
        display: none;
      }
    </style>
    <div class="searchForm">
      <h1>Search profile</h1>
      <form action="/search/" method="post">
        <input
          class="inputSearcg"
          name="searchID"
          type="text"
          placeholder="Write something..."
        />
        <button>Find</button>
        <a href="/">Back</a>
      </form>
      <% for(let i=0; i < profile.length; i++) { %>
      <div>
        <form method="POST" action="/search?_method=PUT">
          <p>ID: <%=profile[i].id%></p>
          <p id="fixedHunterName" class=""><%=profile[i].hunterName%></p>
          <p id="fixedHunterEmail" class=""><%=profile[i].email%></p>
          <input
            class="hiddenID"
            type="text"
            name="id"
            value="<%=profile[i].id%>"
          />
          <input
            type="text"
            id="changeHunterName"
            class="hideChange"
            name="changeHunterName"
            value="<%=profile[i].hunterName%>"
          /><br />
          <input
            type="text"
            id="changeHunterEmail"
            class="hideChange"
            name="changeHunterEmail"
            value="<%=profile[i].email%>"
          />
          <button id="saveButton" class="hideChange">Save</button>
        </form>
        <form method="POST" action="/search?_method=DELETE">
          <input
            class="hiddenID"
            type="text"
            name="id"
            value="<%=profile[i].id%>"
          />
          <button>X</button>
        </form>
        <button id="changeButton">Change</button>
      </div>
      <% } %>
    </div>
    <script>
      let changeButton = document.getElementById("changeButton");
      let saveButton = document.getElementById("saveButton");

      changeButton.addEventListener("click", function () {
        let hideName = document.getElementById("changeHunterName");
        let hideEmail = document.getElementById("changeHunterEmail");
        let fixedName = document.getElementById("fixedHunterName");
        let fixedEmail = document.getElementById("fixedHunterEmail");
        let saveBtn = document.getElementById("saveButton");
        hideName.classList.toggle("hideChange");
        hideEmail.classList.toggle("hideChange");
        saveBtn.classList.toggle("hideChange");
        fixedName.classList.toggle("hideChange");
        fixedEmail.classList.toggle("hideChange");
        if (changeButton.innerHTML === "Change")
          changeButton.innerHTML = "Cancel";
        else if (changeButton.innerHTML === "Cancel")
          changeButton.innerHTML = "Change";
      });

      saveButton.addEventListener("click", function () {
        alert("Saved!!!");
      });
    </script>
  </body>
</html>
