<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/search.css" />
    <title>Document</title>
  </head>
  <body>
    <style>
      .hidden_id {
        display: none;
      }
    </style>
    <div class="todo_app">
      <h1>Search profile</h1>
      <form action="/search/data" method="post">
        <input
          class="input_todo"
          name="searchID"
          type="text"
          placeholder="Write something..."
        />
        <button>Find</button>
        <a href="/">Back</a>
      </form>
      <% for(let i=0; i < profile.length; i++) { %>

      <form action="/search/update" method="post">
        <p>ID: <%=profile[i].id%></p>
        <input
          class="hidden_id"
          type="text"
          name="id"
          value="<%=profile[i].id%>"
        />
        <input
          type="text"
          name="changeHunterName"
          value="<%=profile[i].hunterName%>"
        />
        <input
          type="text"
          name="changeHunterEmail"
          value="<%=profile[i].email%>"
        />
        <button>Change</button>
      </form>
      <form action="/search/delete" method="post">
        <input
          class="hidden_id"
          type="text"
          name="id"
          value="<%=profile[i].id%>"
        />
        <button>X</button>
      </form>
      <% } %>
    </div>
    <script></script>
  </body>
</html>
